* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    font-family: Roboto;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_text span {
    font-family: Roboto;
    font-weight: bold;
    color: #F9BF3B;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: Roboto Thin;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    padding: 85px 0 75px 0;
    min-height: 604px;
    background-color: #efefef;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descrip {
    margin-top: 33px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
} 

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    background: #EFEFEF;
    padding: 87px 0 88px 0;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    
}

.gift .gift_descr {
    margin-top: 88px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;

    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.vebinar_date {
    min-height: 512px;
    padding-top: 81px;
}

.vebinar_date .vebinar_date_img {
    display: block;
    margin: 0 auto;
}

.vebinar_date .vebinar_date_descr {
    text-align: center;
}

.vebinar_date .vebinar_date_descr div {
    margin-top: 36px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    color: #252525;
}

.vebinar_date .vebinar_date_descr h2 {
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #299CBD;
}

.vebinar_date .vebinar_date_descr p {
    margin: 25px 0 53px 0;
    font-family: Roboto;
    font-weight: normal;
    font-size: 23px;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    background: #1A1A1A;
}

.footer .footer_text {
    /* display: inline-block; */
    padding: 57px 0 69px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

.footer .footer_text .footer_link {
    text-decoration: none;
  color: #888888;
    text-decoration-line: underline;
    
}